DirectoryIndex index.php
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} ^/index\.php/news/article/view/(.+)/(.+)$
RewriteRule .* /index.php/news/%1/%2-all-the-same.html [L,R=301,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule !\.(ico|js|gif|jpeg|jpg|png|css|swf|flv)$ index.php